
h1#header{
    color: rgb(41, 71, 119);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
}

p{
    color: rgb(20, 108, 77);
    font-size: 18px;
}

#p2{
    color: red;
}

.my_picture{
    width: 150px;
    height: 300px;
}

label{
    color: rgb(2, 120, 106);
    font-size: 25px;
}

label#tColor{
    color: red;
    font-size: 25px;
}
label#fontSize{
    color: red;
    font-size: 25px;
}
